.formWrapper {
	inline-size: 320px;
	block-size: 755px;
	background: #ffffff;
	color: #111317;
	font-size: 14px;
	line-height: 15px;
	padding: 20px;
	box-sizing: border-box;
	-webkit-clip-path: polygon(
		20px 0%,
		calc(100% - 20px) 0,
		100% 20px,
		100% calc(100% - 20px),
		calc(100% - 20px) 100%,
		20px 100%,
		0% calc(100% - 20px),
		0% 20px
	);
	clip-path: polygon(
		20px 0%,
		calc(100% - 20px) 0,
		100% 20px,
		100% calc(100% - 20px),
		calc(100% - 20px) 100%,
		20px 100%,
		0% calc(100% - 20px),
		0% 20px
	);
}
