/* .formContent {
	inline-size: 320px;
	block-size: 755px;
	background-color: #ffffff;
	-webkit-clip-path: polygon(
		20px 0%,
		calc(100% - 20px) 0,
		100% 20px,
		100% calc(100% - 20px),
		calc(100% - 20px) 100%,
		20px 100%,
		0% calc(100% - 20px),
		0% 20px
	);
	clip-path: polygon(
		20px 0%,
		calc(100% - 20px) 0,
		100% 20px,
		100% calc(100% - 20px),
		calc(100% - 20px) 100%,
		20px 100%,
		0% calc(100% - 20px),
		0% 20px
	);
} */

.form input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0;
}

.form span {
	position: relative;
	left: -20px;
	color: #111317;
}
