.wrapper {
	margin-inline: 100px;
	padding-block: 100px;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 1200px) {
	.wrapper {
		flex-direction: column;
		align-items: center;
		margin-inline: 20px;
		padding-block: 40px;
	}
}
